@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Titillium+Web:wght@200;300;600&display=swap');

/* font-family: 'Titillium Web', sans-serif; 
font-family: 'Quicksand', sans-serif;*/
body{
    font-family: 'Quicksand', sans-serif;
    background-color: #EDECED;
}

main{
    background-color: white;
    color: black;
}
footer{
    background-color: gray;
    color: white;
}
#logoux{
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    color:black;
}
header{
    font-family: 'Titillium Web', sans-serif;
    background-color: #676767;
    color: white;
    font-weight: 600;
    font-size: 30px;
}
header .grid-layout{
    width: 80%;
    margin: 0 auto;
    background-color: #676767;
}
header nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 300px;
    border: 2px solid white;
}